index.js
index-test.js

esm.js
esm-test.js
esm-sync.js
esm-sync-test.js

umd.js
umd-test.js
umd-sync.js
umd-sync-test.js

remap-indexed-keys-after-omit-test.js
remap-indexed-keys-after-omit-sync-test.js

webpack.config.babel.js

scripts/**
coverage/**

debug.js

test.babel.js

license.js
